#chat-messages [data-cid|="16540847"]>.badge-box>.bdg {
    background: url(https://colerisetemp2.files.wordpress.com/2009/11/dock-icon.png) -8px -9px!important;
    background-size: 46px!important
}

#chat-messages [data-cid|="3485598"] .badge-box .bdg {
    background: url(https://i.imgur.com/ubFOYYC.jpg)!important;
    background-size: cover!important
}

#chat-messages [data-cid|="4558687"] .badge-box .bdg {
    background-image: url(https://img.memesuper.com/b9c0476e164a19c234940e7858b08f0e_much-vodka-many-bear-much-dog-meme_265-265.png)!important;
    background-size: cover!important
}

#chat-messages [data-cid|="6525145"] .badge-box .bdg,
#chat-messages [data-cid|="3657725"] .badge-box .bdg {
    background: url(https://i.imgur.com/rc2fkVW.gif) center no-repeat!important;
    background-size: cover!important
}

#chat-messages [data-cid|="3698024"] .badge-box .bdg {
    background: url(https://i.imgur.com/9744t8K.gif) center no-repeat!important;
    background-size: 80px!important
}

#chat-messages [data-cid|="6273420"] .badge-box .bdg {
    background: url(https://i.imgur.com/nVsgYa9.gif) center no-repeat!important;
    background-size: cover!important
}

#chat-messages [data-cid|="16373227"] .badge-box .bdg {
    background: url(https://media.giphy.com/media/95iWmWGjw9g7S/giphy.gif) center no-repeat!important;
    background-size: cover!important
}

#chat-messages [data-cid|="4334058"] .badge-box .bdg {
    background: url(https://i.imgur.com/WBwLyKl.jpg) center no-repeat!important;
    background-size: 25px!important
}

#chat-messages [data-cid|="1071102"] .badge-box .bdg {
    background: url(https://i.imgur.com/rYKhUfy.gif) center no-repeat!important;
    background-size: cover!important
}

#chat-messages [data-cid|="4453331"] .badge-box .bdg {
    background: url(https://i.imgur.com/qmN4Zvj.jpg) center no-repeat!important;
    background-size: 25px!important
}

#chat-messages [data-cid|="3469337"] .badge-box .bdg {
    background: url(http://i.imgur.com/oWZLsMF.gif) center no-repeat!important;
    background-size: cover !important
}

#chat-messages [data-cid|="24791065"] .badge-box .bdg {
    background: url(https://media.giphy.com/media/3o84U7EsQ2BkyNXVUk/giphy.gif) center no-repeat!important;
    background-size: cover !important
}

#chat-messages [data-cid|="3750654"] .badge-box .bdg {
    background: url(https://i.imgur.com/pS0Z7Dn.gif) center no-repeat!important;
    background-size: cover !important
}

#chat-messages [data-cid|="16760700"] .badge-box .bdg {
    background: url(https://i.imgur.com/KSKhTui.jpg) center no-repeat!important;
    background-size: cover!important
}

#chat-messages [data-cid|="4433114"] .badge-box .bdg {
    background: url(http://gifimage.net/wp-content/uploads/2017/07/gif-memes-4.gif) center no-repeat!important;
    background-size: cover!important
}

#chat-messages [data-cid|="25641923"] .badge-box .bdg {
    background: url(http://oi68.tinypic.com/sl5il3.jpg) center no-repeat!important;
    background-size: 25px!important
}

#chat-messages [data-cid|="18200177"] .badge-box .bdg {
    background: url(https://i.imgur.com/k5hySIX.gif) center no-repeat!important;
    background-size: cover!important
}

#chat-messages [data-cid|="3985686"] .badge-box .bdg {
    background: url(http://i.imgur.com/UDbI3m9.gif) center no-repeat!important;
    background-size: cover!important
}

#chat-messages [data-cid|="29110866"] .badge-box .bdg {
    background: url(http://i.imgur.com/V5Jcfak.gif) center no-repeat!important;
    background-size: 25px!important
 }

#chat-messages [data-cid|="5367703"] .badge-box .bdg {
    background: url(https://image.prntscr.com/image/O8coone5T5_lWer-dcLHjA.jpg) center no-repeat!important;
    background-size: 25px!important      
}

/* Rollover */
#user-rollover[data-id|="3485598"] .meta .thumb .avi,
#user-rollover.id-348559 .meta .thumb i {
    background: url(https://i.imgur.com/ubFOYYC.jpg) center no-repeat !important;
    background-size: 80% !important;
}

#user-rollover[data-id|="3485598"] .meta .username {
    font-size: 1.4em !important;
    font-weight: bold;
    position: relative;
}

#user-rollover[data-id|="3485598"] .meta .username:after,
#user-rollover.id-348559 .meta .username:after {
    background: url('https://cdn3.iconfinder.com/data/icons/roles-computer-it/128/front-end_developer-2-512.png') no-repeat center, rgba(0, 0, 0, 0.5) center;
    background-size: 39px;
    background-position: -11px;
    border: 1px solid #48b148;
    box-shadow: 0px 0px 5px #48b148;
    display: inline-block;
    content: 'DEVELOPER';
    font-size: 11px;
    padding: 4px 4px 5px 23px;
    border-radius: 3px;
    margin-left: 4px;
    position: relative;
    top: -3px;
    cursor: help;
}

/* Rollover */
#user-rollover[data-id|="4453331"] .meta .thumb .avi,
#user-rollover.id-445333 .meta .thumb i {
    background: url(https://i.imgur.com/qmN4Zvj.jpg) center no-repeat !important;
    background-size: 57% !important;
}

#user-rollover[data-id|="4453331"] .meta .username {
    font-size: 1.4em !important;
    font-weight: bold;
    position: relative;
}

#user-rollover[data-id|="4453331"] .meta .username:after,
#user-rollover.id-445333 .meta .username:after {
    display: inline-block;
    content: 'ADMIN GERAL';
    font-size: 10px;
    background: rgba(0, 0, 0, 0.54);
    padding: 4px;
    border-radius: 3px;
    margin-left: 8px;
    position: relative;
    top: -3px;
}

/* Rollover */
#user-rollover[data-id|="3985686"] .meta .thumb .avi,
#user-rollover.id-398568 .meta .thumb i {
    background: url(https://i.imgur.com/tREJNaI.jpg) center no-repeat !important;
    background-size: 57% !important;
}

#user-rollover[data-id|="3985686"] .meta .username {
    font-size: 1.4em !important;
    font-weight: bold;
    position: relative;
}

#user-rollover[data-id|="3985686"] .meta .username:after,
#user-rollover.id-398568 .meta .username:after {
    display: inline-block;
    content: 'ADMINISTRADOR';
    font-size: 10px;
    background: rgba(0, 0, 0, 0.54);
    padding: 4px;
    border-radius: 3px;
    margin-left: 8px;
    position: relative;
    top: -3px;
}

/* Rollover */
#user-rollover[data-id|="5367703"] .meta .thumb .avi,
#user-rollover.id-536770 .meta .thumb i {
    background: url(https://image.prntscr.com/image/O8coone5T5_lWer-dcLHjA.jpg) center no-repeat !important;
    background-size: 57% !important;
}

#user-rollover[data-id|="5367703"] .meta .username {
    font-size: 1.4em !important;
    font-weight: bold;
    position: relative;
}

#user-rollover[data-id|="5367703"] .meta .username:after,
#user-rollover.id-536770 .meta .username:after {
    display: inline-block;
    content: 'MODERADOR CHAT';
    font-size: 10px;
    background: rgba(0, 0, 0, 0.54);
    padding: 4px;
    border-radius: 3px;
    margin-left: 8px;
    position: relative;
    top: -3px;
}

/* Rollover */
#user-rollover[data-id|="3573759"] .meta .thumb .avi,
#user-rollover.id-357375 .meta .thumb i {
    background: url(https://i.imgur.com/2nr3fCl.jpg) center no-repeat !important;
    background-size: 57% !important;
}

#user-rollover[data-id|="3573759"] .meta .username {
    font-size: 1.4em !important;
    font-weight: bold;
    position: relative;
}

#user-rollover[data-id|="3573759"] .meta .username:after,
#user-rollover.id-357375 .meta .username:after {
    display: inline-block;
    content: 'COORD EVENTOS';
    font-size: 10px;
    background: rgba(0, 0, 0, 0.54);
    padding: 4px;
    border-radius: 3px;
    margin-left: 8px;
    position: relative;
    top: -3px;
}

/* Rollover */
#user-rollover[data-id|="3456648"] .meta .thumb .avi,
#user-rollover.id-345664 .meta .thumb i {
    background: url(https://i.imgur.com/KoQF4ur.jpg) center no-repeat !important;
    background-size: 57% !important;
}

#user-rollover[data-id|="3456648"] .meta .username {
    font-size: 1.4em !important;
    font-weight: bold;
    position: relative;
}

#user-rollover[data-id|="3456648"] .meta .username:after,
#user-rollover.id-345664 .meta .username:after {
    display: inline-block;
    content: 'ADMINISTRADOR';
    font-size: 10px;
    background: rgba(0, 0, 0, 0.54);
    padding: 4px;
    border-radius: 3px;
    margin-left: 8px;
    position: relative;
    top: -3px;
}

/* Rollover */
#user-rollover[data-id|="16760700"] .meta .thumb .avi,
#user-rollover.id-1676070 .meta .thumb i {
    background: url(https://i.imgur.com/p7U6ojF.gif) center no-repeat !important;
    background-size: 57% !important;
}

#user-rollover[data-id|="16760700"] .meta .username {
    font-size: 1.4em !important;
    font-weight: bold;
    position: relative;
}

#user-rollover[data-id|="16760700"] .meta .username:after,
#user-rollover.id-1676070 .meta .username:after {
    display: inline-block;
    content: 'COORD DIVULGADOR';
    font-size: 10px;
    background: rgba(0, 0, 0, 0.54);
    padding: 4px;
    border-radius: 3px;
    margin-left: 8px;
    position: relative;
    top: -3px;
}
